<% layout("/layout/boilerPlate") %>
<body>
    <h3>index page All listing</h3>
    <!-- <form method="get" action="/listing/new">
        <button>new </button>
    </form> -->

    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
        <% for (let list of allListing ) {%>
        <a href="/listing/<%= list._id %>" class="listing-link">

        <div class="card listing-card col" >
            <img src="<%= list.image %>" class="card-img-top" alt="<%= list.image %>" style="height:20rem" >
            <div class="card-img-overlay">
                
            </div>
            <div class="card-body">
                <p class="card-text">
                <b> <%= list.title %> <br></b>
                &#8377 <%= list.price.toLocaleString("en-in")  %> /night
                </p>
            </div>
        
        </div></a>
      <% }%>
    </div>

</body>
